body, h1, h2, h3, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: white;
    border-bottom: 1px solid white;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
    padding: 13px 0px;
    max-width: 960px;
    margin: 0 auto;
}

.menu-img {
    margin-left: 20px;
}

.menu-nav {
    margin-right: 20px;
    align-self: center;
}


ul {
    list-style: none;
}

.menu-nav-mainul {
    display: flex;
}

.menu-nav-main {
    text-align: center;
    margin-left: 25px;
}

.menu-nav-main span {
    font-size: 12px;
}

.menu-nav-subul {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.288);
}

.menu-nav-subul:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #f4f3ee;
    top: -13px;
    left: 15px;
}

.menu-nav-texts:hover .menu-nav-subul {
    display: block;
    background-color: white;
}

.menu-nav-sub {
    background-color: #f4f3ee;
}

.menu-nav-sub a {
    font-size: 12px !important;
    display: block;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 120px;
}

.menu-nav-sub:first-child {
    padding-top: 5px;
}

.menu-nav-sub:last-child {
    padding-bottom: 5px;
}

.menu nav a {
    color: #3ebcfe;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.menu a:hover {
    color: #000;
}

label[for="menu-bt"] {
    padding: 10px 5px 5px 5px;
    background-color: #353535;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: none;
    margin-bottom: 13px;
}

label[for="menu-texts-bt"] {
    display: none;
}

label[for="menu-texts-bt"] {
    color: #3ebcfe;
}

label[for="menu-texts-bt"]:hover {
    cursor: pointer;
    color: black;
} 

input {
    display: none;
}

.introducao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 960px;
    padding-top: 80px;
    margin: 90px auto;
}

.introducao-info {
    max-width: 400px;
    margin: 0px 20px;
}

.introducao-info h1 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.introducao-info p {
    padding: 30px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #778087;
}

.introducao-img {
    margin-right: 20px;
}

.nav-container {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0px 30px 0px;
}

.nav {
    border: 3px solid #3ebcfe;
    padding: 10px 30px;
    color: #3ebcfe;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    text-decoration: none;
}

.nav-container a:hover {
    color: #000;
    border: 3px solid #000;
}

.check {
    background-color: #E4EDF5;
}

.section-theme {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 24px;
}

.section-theme:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.check-container {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.check-container h3 {
    text-align: center;
}

.check-container p {
    text-align: center;
}

.check img {
    display: block;
    background-color: #3EBCFE;
    margin: 0 auto;
    padding: 20px 90px;
    border-radius: 20px;
}

.check-cont {
    margin: 0px 10px;
}

.check h3 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.check h3:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 2px auto;
}

.check p {
    padding: 10px 20px 20px 20px;
    color: #5a5a5a;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.agencies {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.agencies-img-container {
    margin-bottom: 40px;
}

.agencies-img-container img {
    padding: 0px 10px;
}

.values {
    background-color: #E4EDF5;
    padding-bottom: 30px;
}

.values-img {
    text-align: center;
    margin-bottom: 10px;
}

.values-information {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.values-width {
    width: 200px;
    padding: 0px 40px;
    margin: 0px 10px;
    text-align: center;
}

.values-width h3 {
    margin: 20px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.values-width h3:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 6px auto;
}

.values-width p {
    color: #5a5a5a;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.values-read {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 550;
}

.contact-media {
    margin: 0px 20px;
}

.contact-info {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 0px;
}

.width-1 {
    width: 440px;
    padding-right: 20px;
    margin: 0px 20px;
    padding-bottom: 10px;
    
}

.width-2 {
    width: 190px;
    margin: 0px 20px;
    padding-bottom: 10px;
}

.contact-subtheme {
    font-size: 18px;
    line-height: 25px;
    color: #3ebcfe;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
}

.contact-subtheme:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #3ebcfe;
    margin: 6px 0 12px;
}

.contact-info p {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 20px;
}

.width-2 a {
    padding: 10px 20px 10px 0px;
}

footer {
    background-color: #3EBCFE;
}

footer div {
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 940px;
}

footer p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
}

@media (max-width: 650px) {
    .check img {
        padding: 20px 60px;
    }

    .menu {
        padding-bottom: 0px;
        background-color: #E4EDF5;
        max-width: 100%;
    }

    .menu-nav {
        margin-right: 0px;
        width: 100%;
        display: none;
    }
    
    .menu-nav-mainul {
        background-color: #E4EDF5;
        flex-direction: column;
        transition: all 0.5s;
    }

    .menu-nav-mainul:first-child {
        border-top: 1px solid white;
    }

    .menu-nav-main {
        padding: 10px 0px;
        margin-left: 0px;
        border-bottom: 1px solid white;
    }
    label[for="menu-bt"] {
        display: inline-block !important;
        margin-right: 20px;
    }

    label[for="menu-texts-bt"] {
        display: inline-block;
    }

    #menu-bt:checked ~ .menu-nav {
        display: block;
    }

    .menu-nav-texts:hover .menu-nav-subul {
        display: none !important;
    }

    #menu-texts-bt:checked ~ .menu-nav-subul {
        display: block !important;
        position: static;
        text-align: center;
        margin-top: 15px;
    }

    .menu-nav-subul {
        display: none;
        position: absolute;
        text-align: center;
        margin-top: 15px;
        box-shadow: 0px 0px 0px;
    }

    .menu-nav-sub {
        background-color: #E4EDF5;
    }

    .menu-nav-sub:first-child {
        padding-top: 0px;
    }

    .menu-nav-sub:last-child {
        padding-bottom: 0px;
    }
    
    .menu-nav-sub a {
        font-size: 12px !important;
        display: block;
        text-align: center;
        color: #353535 !important;
        width: 150px;
        background-color: #E4EDF5;
        margin: 0 auto;
        padding: 5px !important;
    }

    .menu-nav-sub a:hover {
        color: #3ebcfe !important;
    }
}

@media (max-width: 880px) {
    .introducao {
        justify-content: center;
    }

    .introducao-info {
        margin-bottom: 10px;
    }

    .introducao {
        padding-top: 40px;
        margin-bottom: 60px;
    }

    .introducao img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
        margin-right: 0px;
    }

}

@media (max-width: 1000px) {
    .width-1 {
        margin: 0px 5px;
    }
    .width-2 {
        margin: 0px 5px;
    }
}