body, h1, h2, h3, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    background-color: white;
    border-bottom: 1px solid white;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: top;
    padding: 13px 0px;
    max-width: 960px;
    margin: 0 auto;
}

.menu-img {
    margin-left: 20px;
}

.menu-nav {
    margin-right: 20px;
    align-self: center;
}


ul {
    list-style: none;
}

.menu-nav-mainul {
    display: flex;
}

.menu-nav-main {
    text-align: center;
    margin-left: 25px;
}

.menu-nav-main span {
    font-size: 12px;
}

.menu-nav-subul {
    display: none;
    position: absolute;
    text-align: left;
    margin-top: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.288);
}

.menu-nav-subul:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #f4f3ee;
    top: -13px;
    left: 15px;
}

.menu-nav-texts:hover .menu-nav-subul {
    display: block;
    background-color: white;
}

.menu-nav-sub {
    background-color: #f4f3ee;
}

.menu-nav-sub a {
    font-size: 12px !important;
    display: block;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    width: 120px;
}

.menu-nav-sub:first-child {
    padding-top: 5px;
}

.menu-nav-sub:last-child {
    padding-bottom: 5px;
}

.menu nav a {
    color: #3ebcfe;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.menu a:hover {
    color: #000;
}

label[for="menu-bt"] {
    padding: 4px 3px 2px 3px;
    background-color: #353535;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: none;
    margin-bottom: 13px;
}

label[for="menu-texts-bt"] {
    display: none;
    padding: 0px 2px;
}

label[for="menu-texts-bt"] {
    color: #3ebcfe;
}

label[for="menu-texts-bt"]:hover {
    cursor: pointer;
    color: black;
} 

input {
    display: none;
}

.texts-theme {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 92px;
}

.texts-theme h1 {
    font-size: 36px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.texts-theme h1:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

.texts-theme p {
    color: #5a5a5a;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.texts-info {
    background-color: #E4EDF5;
    padding: 60px 0px;
}

.texts-orga {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texts-cont {
    background-color: #fff;
    border: 4px solid #3ebcfe;
    padding: 20px;
    margin: 10px 10px;
    min-height: 150px;
    max-width: 400px;
}

.texts-cont h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #3ebcfe;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
}

.texts-cont a {
    text-decoration: none;
    display: block;
}

.texts-cont a:hover h1 {
    color: #3EBCFE;
}

.texts-cont h1 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.texts-cont p {
    font-size: 18px;
    line-height: 20px;
    color: #8e949b;
    font-family: Arial, Helvetica, sans-serif;
}

.subject {
    max-width: 130px;
    min-height: 20px;
    border-radius: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.subject h2 {
    text-align: center;
}

.texts-busi {
    background-color: #F6AE2D;
}

.texts-mark {
    background-color: #6A4C93;
}

.texts-fin {
    background-color: #8AC926;
}

.texts-tra {
    background-color: #1982C4;
}

.texts-pub {
    background-color: #F18701;
}

.texts-hum {
    background-color: #F15946;
}

.contact-media {
    margin: 0px 20px;
}

.contact-info {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 0px;
}

.width-1 {
    width: 440px;
    padding-right: 20px;
    margin: 0px 20px;
    padding-bottom: 10px;
    
}

.width-2 {
    width: 190px;
    margin: 0px 20px;
    padding-bottom: 10px;
}

.contact-subtheme {
    font-size: 18px;
    line-height: 25px;
    color: #3ebcfe;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
}

.contact-subtheme:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #3ebcfe;
    margin: 6px 0 12px;
}

.contact-info p {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        line-height: 20px;
}

.width-2 a {
    padding: 10px 20px 10px 0px;
}

footer {
    background-color: #3EBCFE;
}

footer div {
    padding: 20px 0px;
    margin: 0 auto;
    max-width: 940px;
}

footer p {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .texts-cont {
        margin: 10px 22px;
        min-height: 150px;
        max-width: 390px;
    }
}

@media (max-width: 650px) {
    .check img {
        padding: 20px 60px;
    }

    .menu {
        padding-bottom: 0px;
        background-color: #E4EDF5;
        max-width: 100%;
    }

    .menu-nav {
        margin-right: 0px;
        width: 100%;
        display: none;
    }
    
    .menu-nav-mainul {
        background-color: #E4EDF5;
        flex-direction: column;
        transition: all 0.5s;
    }

    .menu-nav-mainul:first-child {
        border-top: 1px solid white;
    }

    .menu-nav-main {
        padding: 10px 0px;
        margin-left: 0px;
        border-bottom: 1px solid white;
    }
    label[for="menu-bt"] {
        display: inline-block !important;
        margin-right: 20px;
    }

    label[for="menu-texts-bt"] {
        display: inline-block;
    }

    #menu-bt:checked ~ .menu-nav {
        display: block;
    }

    .menu-nav-texts:hover .menu-nav-subul {
        display: none !important;
    }

    #menu-texts-bt:checked ~ .menu-nav-subul {
        display: block !important;
        position: static;
        text-align: center;
        margin-top: 15px;
    }

    .menu-nav-subul {
        display: none;
        position: absolute;
        text-align: center;
        margin-top: 15px;
        box-shadow: 0px 0px 0px;
    }

    .menu-nav-sub {
        background-color: #E4EDF5;
    }

    .menu-nav-sub:first-child {
        padding-top: 0px;
    }

    .menu-nav-sub:last-child {
        padding-bottom: 0px;
    }
    
    .menu-nav-sub a {
        font-size: 12px !important;
        display: block;
        text-align: center;
        color: #353535 !important;
        width: 150px;
        background-color: #E4EDF5;
        margin: 0 auto;
        padding: 5px !important;
    }

    .menu-nav-sub a:hover {
        color: #3ebcfe !important;
    }
}

@media (max-width: 1000px) {
    .width-1 {
        margin: 0px 5px;
    }
    .width-2 {
        margin: 0px 5px;
    }
}
